 .signup{
    background-color: white;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login {
    border: 2px solid #07A3AC;
    width: 70%;
    height: 70%;
    border-radius: 4px;
    text-align: center;
    padding: 80px 70px;
}

.login > h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    justify-content: center;
    margin-bottom: 25px;
}

.email {
    width: 100%;
    background-color: rgb(243 242 247);
    border: none;
    padding: 10px;
    
}

.continue-btn{
    border-radius: 50px;
    color: rgb(243 242 247);
    background-color: blue;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-color: blue;
    margin-top: 10px;
    font-weight: bold;
    

}
.login > p{
    text-decoration:solid;
    color:grey;
    font-size: small;
    margin-top: 10px;
}
.divs{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.gmail-btn{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 10px;
    border-color: blue; 
    display: flex;
    text-align: center;
    
    
}
.facebook-btn{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 10px;
    border-color: blue;
    display: flex;
    text-align: center;
    
}
.login > h5{
    margin-top: 10px;
}

hr {
    width: 100px;
}

.horizontal-lines {
    display: flex;
}

.hr1 {
    position: absolute;
    right: 353px;
    bottom: 314.8px;
    /* bottom: 15px; */
}

.hr2 {
    position: absolute;
    right: 230px;
    bottom: 15px;
    margin-bottom: 300px;
}

.login2{
    background-color: transparent;
    text-decoration: none;
    border: none;
    color:blue;
    font-weight: bold;
}
.google-image{
    width: 25px;
    height: 17px;
    display: flex;
    margin-left: 50px;
}
.facebook-image{
    width:25px;
    height: 17px;
    display:flex;
    margin-left: 50px;
}



