/* .right{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    
}

.right p {
    color: white;
    position: absolute;
    top: 50%;
    left: 16%;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.background-image {
    width: 100%;
    height: 100%;
} */